:root {
    --primary-color: #4ECDC4;
    --secondary-color: #1A535C;
    --tertiary-color: #228079;
    --white-color: #F7FFF7;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.text-white {
    color: var(--white-color);
}

.m-auto {
    margin: auto;
}

.ml-5 {
    margin-left: 7rem;
}

.container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    min-height: 700px;
    height: auto;
    align-content: flex-start;
}

.header {
    width: 100%;
    text-align: center;
    color: #F2F2F2;
    margin-top: 0;
    margin-bottom: 0;
}

.header__title {
    padding: 2rem;
    margin: 0;
}

.col-filtros {
    width: 25%;
    height: 100%;
    min-height: 570px;
}

.col-filtros__container,
.colContenido,
.colFiltros form {
    min-height: 570px;
}

.col-filtros__container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.col-filtros__title {
    width: 100%;
    height: 5rem;
    text-align: center;
}

.menu {
    padding: 0.8rem;
}

.menu a {
    margin: 0.2rem;
}

.tituloFiltros h5 {
    font-size: 1.3rem;
}

.filtroCiudad {
    width: 100%;
    height: 100px;
    text-align: center;
}

.filtroCiudad .select-wrapper {
    margin: 25px auto;
    width: 90%;
}

.filtroTipo {
    width: 100%;
    height: 100px;
    text-align: center;
}

.filtroTipo .select-wrapper {
    margin: 5px auto;
    width: 90%;
}

.filtroPrecio {
    margin: 15px auto;
    width: 90%;
    height: 100px;
}

.filtroPrecio label {
    font-size: 1rem;
}

.botonField {
    width: 100%;
    height: 70px;
    text-align: center;
}

.botonField input {
    color: #648C7D;
}

.colContenido {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 20px;
}

.tituloContenido {
    width: 100%;
    min-height: 170px;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.tituloContenido h5 {
    width: 100%;
    margin: 0.5rem 5px;
    margin-bottom: 2rem;
    height: 10px;
    font-size: 2rem;
}

.tituloContenido button {
    background: #648C7D;
    color: #F2F2F2;
    margin-top: 2rem;
    margin-right: 1rem;
}

.divider {
    width: 100%;
}

.itemMostrado {
    width: 100%;
    margin-top: 0.4rem;
    display: flex;
    flex-flow: row wrap;
}

.itemMostrado img {
    width: 35% !important;
}

.precioTexto {
    font-size: 1.3rem;
    color: #ffab40;
}

.card-stacked {
    width: 65%;
}

.card-action {
    text-align: right;
}